[submodule "app/Sparkle"]
	path = app/Sparkle
	url = https://github.com/infinitdotio/Sparkle.git
[submodule "app/InfinitApplication"]
  path = app/InfinitApplication
  url = git@git.infinit.io:cocoa-app
[submodule "app/Gap"]
  path = app/Gap
  url = git@git.infinit.io:objc-gap
[submodule "app/plcrashreporter"]
	path = app/plcrashreporter
	url = https://opensource.plausible.coop/stash/scm/plcr/plcrashreporter.git
