[submodule "app/Sparkle"]
	path = app/Sparkle
	url = https://github.com/infinitdotio/Sparkle.git
[submodule "app/InfinitApplication"]
  path = app/InfinitApplication
  url = git@git.infinit.io:cocoa-app
[submodule "installer"]
	path = installer
	url = git@git.infinit.io:osx-installer
