[submodule "app/Sparkle"]
	path = app/Sparkle
	url = ../Sparkle.git
[submodule "app/InfinitApplication"]
	path = app/InfinitApplication
	url = ../cocoa-app
[submodule "installer"]
	path = installer
	url = ../osx-installer
